{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/register.css') }}"/>

{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="wrapper">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register '}}) }}

            <h3>Register Demo!</h3>

            <hr class="colorgraph"/>

            <br/>

            {{ form_widget(form) }}

            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
            </div>
            {{ form_end(form) }}

        </div>

    </div>
{% endblock fos_user_content %}