{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/react-app.js') }}"></script>
{% endblock %}

{% block stylesheets  %}
    <link href="{{ asset('build/react-app.css') }}" rel="stylesheet"/>
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="row">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h1>Hi {{ app.user.firstName }} ,</h1>
                <hr>
                <div id="react-app"></div>
            {% else %}
                <h1>Please login  <a href="{{ path('fos_user_security_login') }}">click here</a></h1>
            {% endif %}
    </div>
{% endblock %}
