<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>{% block title %}Symfony4 vs ReactJS!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="manifest" href="{{ asset('build/manifest.json') }}">
        <link href="{{ asset('build/layout.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div class="">
    <div class="topheader">
        <header class="container">
            <nav class="navbar">
                <div class="navbar-brand">
                    <span class="navbar-item">
                        <a class="navbar-item navbar-home" href="{{ path('homepage') }}">Price Info</a>
                    </span>
                </div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ path('fos_user_security_logout') }}" rel="noopener noreferrer">Logout</a>
                </div>
                {% else %}
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ path('fos_user_registration_register') }}" rel="noopener noreferrer">Register</a>

                        <a class="navbar-item" href="{{ path('fos_user_security_login') }}" rel="noopener noreferrer">Login</a>
                    </div>

                {% endif %}

            </nav>
        </header>
    </div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
{% endblock %}
</body>
</html>